<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0.0 0.0 1.0" rpy="[0, 0, 0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 1.0" rpy="[0, 0, 0]"/>
            <geometry>
                <box size="1.2 0.5 0.275" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 1.0" rpy="[0, 0, 0]"/>
            <geometry>
                <box size="1.2 0.5 0.275" />
            </geometry>
        </collision>
    </link>
    <link name="Leg1A">
        <inertial>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <geometry>
                <box size="0.125 0.115 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <geometry>
                <box size="0.125 0.115 0.5" />
            </geometry>
        </collision>
    </link>
    <link name="Leg1B">
        <inertial>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <geometry>
                <box size="0.1 0.11 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <geometry>
                <box size="0.1 0.11 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="Leg1A_Leg1B" type="revolute">
       <parent link="Leg1A"/>
       <child  link="Leg1B"/>
       <origin rpy="0 0 0" xyz="-0.26 0.0 -0.46" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Leg2A">
        <inertial>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <geometry>
                <box size="0.125 0.115 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <geometry>
                <box size="0.125 0.115 0.5" />
            </geometry>
        </collision>
    </link>
    <link name="Leg2B">
        <inertial>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <geometry>
                <box size="0.1 0.11 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <geometry>
                <box size="0.1 0.11 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="Leg2A_Leg2B" type="revolute">
       <parent link="Leg2A"/>
       <child  link="Leg2B"/>
       <origin rpy="0 0 0" xyz="-0.26 0.0 -0.46" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Leg3A">
        <inertial>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <geometry>
                <box size="0.125 0.115 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <geometry>
                <box size="0.125 0.115 0.5" />
            </geometry>
        </collision>
    </link>
    <link name="Leg3B">
        <inertial>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <geometry>
                <box size="0.1 0.11 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <geometry>
                <box size="0.1 0.11 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="Leg3A_Leg3B" type="revolute">
       <parent link="Leg3A"/>
       <child  link="Leg3B"/>
       <origin rpy="0 0 0" xyz="-0.26 0.0 -0.46" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Leg4A">
        <inertial>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <geometry>
                <box size="0.125 0.115 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.15 0.0 -0.25" rpy="[0, 0.785, 0.0]"/>
            <geometry>
                <box size="0.125 0.115 0.5" />
            </geometry>
        </collision>
    </link>
    <link name="Leg4B">
        <inertial>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <geometry>
                <box size="0.1 0.11 0.5" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.1 0.0 -0.165" rpy="[0, -0.785, 0.0]"/>
            <geometry>
                <box size="0.1 0.11 0.5" />
            </geometry>
        </collision>
    </link>
    <joint name="Leg4A_Leg4B" type="revolute">
       <parent link="Leg4A"/>
       <child  link="Leg4B"/>
       <origin rpy="0 0 0" xyz="-0.26 0.0 -0.46" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_Leg1A" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg1A"/>
       <origin rpy="0 0 0" xyz="0.35 0.3 1.15" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_Leg2A" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg2A"/>
       <origin rpy="0 0 0" xyz="-0.35 0.3 1.15" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_Leg3A" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg3A"/>
       <origin rpy="0 0 0" xyz="0.35 -0.3 1.15" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Torso_Leg4A" type="revolute">
       <parent link="Torso"/>
       <child  link="Leg4A"/>
       <origin rpy="0 0 0" xyz="-0.35 -0.3 1.15" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <joint name="Leg1B_Foot1" type="fixed">
       <parent link="Leg1B"/>
       <child  link="Foot1"/>
       <origin rpy="0 0 0" xyz="0.275 0.0 -0.34" />
     <axis xyz="0 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Foot1">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <geometry>
                <sphere radius="0.08" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <geometry>
                <sphere radius="0.08" />
            </geometry>
        </collision>
    </link>
    <joint name="Leg2B_Foot2" type="fixed">
       <parent link="Leg2B"/>
       <child  link="Foot2"/>
       <origin rpy="0 0 0" xyz="0.275 0.0 -0.34" />
     <axis xyz="0 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Foot2">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <geometry>
                <sphere radius="0.08" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <geometry>
                <sphere radius="0.08" />
            </geometry>
        </collision>
    </link>
    <joint name="Leg3B_Foot3" type="fixed">
       <parent link="Leg3B"/>
       <child  link="Foot3"/>
       <origin rpy="0 0 0" xyz="0.275 0.0 -0.34" />
     <axis xyz="0 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Foot3">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <geometry>
                <sphere radius="0.08" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <geometry>
                <sphere radius="0.08" />
            </geometry>
        </collision>
    </link>
    <joint name="Leg4B_Foot4" type="fixed">
       <parent link="Leg4B"/>
       <child  link="Foot4"/>
       <origin rpy="0 0 0" xyz="0.275 0.0 -0.34" />
     <axis xyz="0 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="Foot4">
        <inertial>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <geometry>
                <sphere radius="0.08" />
            </geometry>
            <material name="Cyan">
                <color rgba=".91, .55, .15, 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.0 0.0 0.0" rpy="[0, 0, 0]"/>
            <geometry>
                <sphere radius="0.08" />
            </geometry>
        </collision>
    </link>
</robot>