/* TODO: Change/add whichever style rules you want */
body {
	background-color: lightblue;
	margin: 3%;
}
header {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: lavender;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin-left: -10px;
	margin-right: -10px;
}
code {
	display: inline-block;
	padding: 10px;
	background-color: lightgrey;
	border: 1px solid grey;
	color: green;
}
form {
	background-color: lightgreen;
	padding: 10px;
	border-radius: 3em;
	width: 20%;
	text-align: center;
	margin: 10px;
	border: 1px solid white;
}
article {
	width: 50%;
	height: 500px;
	float: right;
	overflow: scroll;
	border: 1px solid black;
	padding: 20px;
	margin: 20px;
}
table {
	border-collapse: collapse;
	margin: 20px;
}
th, td {
	padding: 10px;
}
tr:nth-child(even) {
	background-color: #f2f2f2;
}
table, th, td {
	border: 1px solid black;
	text-align: right;
}